Проект - маятник "Сфера"

Требования:
	маятник должен состоять из трех уровней (колец)
	требуется вращение внешнего уровня в заданном направлении
	требуется связь каждого вложенного уровня с предыдущим внешним
	скорость вращения должна быть задана жестко или пользователем
	